.myForm {
  margin-top: 10px;
  /* border: 1px solid; */
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.error{
  /* border: red; */
  background-color: rgba(255, 0, 0, 0.451);
}
.inputss input {
  display: block;
  width: 300px;
  height: 22px;
  padding: 5px;
  margin-top: 5px;
}
.inputss label {
  display: block;
  font-weight: bold;
}
.inputss p{
  color: red;
}
.buttons {
  width: 190px;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin-top: 230px;
}
.buttons button {
  width: 90px;
  height: 27px;
  border-radius: 20px;
  /* margin-left: 10px; */
  text-transform: capitalize;
  cursor: pointer;
}
.buttons button:nth-of-type(1) {
  background-color: white;
  color: rgb(222, 64, 11);
  border: 1px solid rgb(222, 64, 11);
}
.buttons button:nth-of-type(1):hover {
  background-color: rgb(222, 64, 11);
  color: white;
}
.buttons button:nth-of-type(2) {
  background-color: rgb(222, 64, 11);
  color: white;
  border: 1px solid rgb(222, 64, 11);
}
.buttons button:nth-of-type(2):hover {
  background-color: white;
  color: rgb(222, 64, 11);
}
